.menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 100;

    @media (max-height: 650px) {
        overflow: scroll;
    }

    &--hidden {
        transform: translateX(-320px);
        transition: 2s;

        @media (min-width: 768px) {
            transform: translateX(-400px);
        }

        @media (min-width: 1440px) {
            transform: none;
        }
    }

    &--visible {
        transform: translateX(0px);
        transition: 2s;
    }

    @media (min-width: 768px) {
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    }

    @media (min-width: 1440px) {
        box-shadow: none;
    }
}

.menu__header {
    display: flex;
    padding: 19px 24px;
    padding-bottom: 0;
    margin-bottom: 46px;
    align-items: center;
}

.menu__close, 
.menu__search,
.menu__call,
.menu__chat,
.menu__profile {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: $pink-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__close {
    margin-right: 17px;
    @media (min-width: 1440px) {
        display: none;
    }
}

.menu__logo {
    margin-right: auto;
}

.menu__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__item {
    padding-left: 24px;
    margin-bottom: 32px;
    color: #1B1C21;
    font-weight: 500;
    font-size: 16px;
    font-family: 'TT Lakes';
}

.menu__item_actived {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 28px;
}

.menu__item_actived::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 32px;
    background: $emerald-color;
    border-radius: 0px 4px 4px 0px;
    margin-right: 20px;
  }

.menu__footer {
    margin-top: auto;
    padding-left: 24px;
    padding-bottom: 32px;
}

.menu__interaction {
    display: flex;
    margin-bottom: 16px;
}

.menu__call, 
.menu__chat {
    margin-right: 16px;
}

.menu__chat {
    padding-top: 11px;
    padding-bottom: 9px;
    display: block;
}

.menu__email {
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 600;
    color: #1B1C21;
    margin: 0;
    margin-bottom: 12px;
}

.menu__phone {
    font-family: 'TT Lakes';
    font-size: 24px;
    color: #1B1C21;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
}

.menu__lang {
    background: none;
    border: none;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-right: 7px;
}

.menu__lang:last-child {
    margin-right: 0;
}

.menu__lang_actived {
    color: #7E7E82;
}

.menu__lang:hover, .menu__call:hover, .menu__chat:hover, .menu__profile:hover, .menu__close:hover, .menu__search:hover {
    transition: 1s;
    opacity: 0.5;
}

.fog {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 50;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.96;
    top: 0;
    transition: 2s;

    &--visible {
        display: block;
        transition: 2s;
    }
  }